<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moreconreviewapi.mapper.ReviewMapper">
    <!-- 도메인 필드(Review)와 실제 컬럼 매핑 -->
    <resultMap id="ReviewResultMap" type="com.example.moreconreviewapi.domain.Review">
        <result property="review_id" column="レビュー識別番号"/>
        <result property="user_id" column="会員識別番号"/>
        <result property="item_id" column="商品識別番号"/>
        <result property="rating" column="レーティング"/>
        <result property="content" column="レビュー内容"/>
        <result property="published" column="公開状態"/>
        <result property="published_date" column="登録日時"/>
    </resultMap>

    <!-- 특정 상품의 공개 리뷰 목록 조회 -->
    <select id="findPublishedReviewsByItemId" parameterType="string" resultMap="ReviewResultMap">
        SELECT
            レビュー識別番号,
            会員識別番号,
            商品識別番号,
            レーティング,
            レビュー内容,
            公開状態,
            登録日時
        FROM レビュー.レビュー
        WHERE 商品識別番号 = #{itemId}
          AND 公開状態 = '公開'
        ORDER BY レーティング DESC, 登録日時 DESC
    </select>

    <!--
    1. 会員識別番号
    2. レビュワー名
    3. レビュワープロフィール画像URL
    4. レーティング
    5. レビュー内容
    6. 画像URL
        1. 複数あれば複数取得。レビュー画像テーブルの表示順の照準になっていること
    7. レビューの登録日時
    -->
    <select id="findNewReviewsByItemId" parameterType="string" resultType="com.example.moreconreviewapi.domain.NewReview">
        SELECT
            review.レビュー識別番号 AS review_id,
            reviewer.会員識別番号 AS reviewer_id,
            reviewer.レビュワー名 AS reviewer_name,
            reviewer.プロフィール画像URL AS reviewer_profile_image_url,
            review.レーティング AS rating,
            review.レビュー内容 AS review_content,
            review_image.画像URL AS review_image_url,
            review.登録日時 AS review_create_date
        FROM レビュー.レビュー review
            JOIN レビュー.レビュワー reviewer
                ON reviewer.会員識別番号 = review.会員識別番号
            LEFT JOIN レビュー.レビュー画像 review_image
                ON review_image.レビュー識別番号 = review.レビュー識別番号
        WHERE review.商品識別番号 = #{itemId}
            AND review.公開状態 = '公開'
        ORDER BY review.レーティング DESC,
                 review.登録日時 DESC,
                 review_image.表示順 ASC
    </select>

</mapper>

